.banner{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: var(--primary-red);
}
.banner p{
    text-align: center;
}